<screen permanent="true">
	<view>
		<header title="settings" />
		<content>
			<playerSettingsCard />
			<connectionSettingsCard />
			<gameSettingsCard />
			<audioSettingsCard />
			<row style_pad_column="#unit_xl">
				<button tag="back" button_type="2">
					<screen_load_event screen="welcome" trigger="clicked" />
				</button>
				<button tag="about" button_type="2">
					<screen_create_event screen="about" trigger="clicked" />
				</button>
			</row>
		</content>
	</view>
</screen>
